:root{
    --price-color: #E89C2A;
    --back-to-home: #F29E3E;
    --add-to-cart-color: #7AD546;
    --product-name-color: #333333;
    --cart-number-of-products: #80E0EF;
    --watch-more-button: #4F8BF3;
    --login-button: #FF8282;
}